body {
  background-color: #394047; }

a {
  text-decoration: none; }

.introduction {
  width: 100vw;
  height: 100vh;
  text-align: center;
  position: relative;
  margin-bottom: 10vh; }

.introductionTitle {
  position: absolute;
  top: 40vh;
  left: 25vw; }

.authorName {
  font-family: "Abril Fatface", regular;
  color: white;
  font-size: 8vw; }

.typewriter {
  overflow: hidden;
  border-right: 0.15rem solid transparent;
  padding-right: 4px;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.15rem;
  animation: typing 2.5s steps(30, end), blink-caret 1s step-end 3; }

@keyframes typing {
  from {
    width: 0; }
  to {
    width: 100%; } }
@keyframes blink-caret {
  from, to {
    border-color: transparent; }
  50% {
    border-color: white; } }
@keyframes professionAppear {
  from {
    opacity: 0;
    transform: translateY(200px); } }
.profession {
  font-family: "Abril Fatface", regular;
  color: #D0A233;
  font-size: 4vw;
  animation: professionAppear 1s ease; }

.backgroundImage {
  width: 100vw;
  height: 100vh;
  max-height: 100vh;
  position: relative;
  transform: translateZ(80px) scale(1);
  transform-style: preserve-3d; }

.bgIcon {
  width: 3vw;
  position: absolute; }
  .bgIcon img {
    width: 100%; }

.first {
  top: 85vh;
  left: 9vw; }

.second {
  top: 55vh;
  left: 8vw; }

.third {
  top: 72vh;
  left: 22vw; }

.fourth {
  top: 60vh;
  left: 30vw; }

.fifth {
  top: 77vh;
  left: 40vw; }

.sixth {
  top: 83vh;
  left: 50vw; }

.seventh {
  top: 63vh;
  left: 54vw; }

.eighth {
  top: 69vh;
  left: 66vw; }

.ninth {
  top: 83vh;
  left: 75vw; }

.tenth {
  top: 59vh;
  left: 81vw; }

.eleventh {
  top: 75vh;
  left: 88vw; }

.twelfth {
  top: 35vh;
  left: 12vw; }

.thirteenth {
  top: 6vh;
  left: 13vw; }

.fourteenth {
  top: 20vh;
  left: 19vw; }

.fifteenth {
  top: 12vh;
  left: 30vw; }

.sixteenth {
  top: 7vh;
  left: 40vw; }

.seventeenth {
  top: 15vh;
  left: 53vw; }

.eighteenth {
  top: 3vh;
  left: 57vw; }

.nineteenth {
  top: 20vh;
  left: 70vw; }

.twentyth {
  top: 37vh;
  left: 78vw; }

.twenty-first {
  top: 6vh;
  left: 81vw; }

.twenty-second {
  top: 23vh;
  left: 87vw; }

.scrollAction {
  width: 25vw;
  margin: -10vh auto; }
  .scrollAction .scroll {
    text-transform: uppercase;
    font-family: "Bitter", serif;
    font-size: 3vw;
    display: inline-block;
    color: white; }
  .scrollAction .scrollImage {
    width: 3vw; }

.projects {
  max-height: 300vh; }

.sectionTitleProjects {
  width: 100%;
  text-align: center;
  padding-bottom: 10vh; }
  .sectionTitleProjects .sectionImage {
    width: 8vw;
    text-align: center;
    animation: rotate-scale-up-diag-1 6s ease infinite; }
@keyframes rotate-scale-up-diag-1 {
  0% {
    transform: scale(1) rotate3d(1, 1, 0, 0deg); }
  20% {
    transform: scale(1.5) rotate3d(1, 1, 0, -180deg); }
  40% {
    transform: scale(1) rotate3d(1, 1, 0, -360deg); }
  100% {
    transform: scale(1) rotate3d(1, 1, 0, -360deg); } }
  .sectionTitleProjects h3 {
    color: white;
    font-family: "Abril Fatface", regular;
    font-size: 10vw;
    display: inline-block;
    margin-top: 3vh; }

.videoPlayer {
  width: 70vw;
  height: 30vh; }

.project-1 {
  height: 100vh;
  width: 100vw;
  position: relative; }

.rectangle-1 {
  width: 90vw;
  height: 45vh;
  background-color: rgba(176, 188, 196, 0.6);
  margin: 0 auto; }

.video {
  width: 80vw;
  position: absolute;
  top: -10vh;
  left: 10vw; }
  .video video {
    width: 100%; }

.projectTitle {
  width: 50vw;
  font-family: "Abril Fatface", regular;
  font-size: 13vw;
  color: #D0A233;
  position: absolute;
  top: 41vh;
  left: 15vw;
  text-shadow: 0 3px 8px #394047; }

.tagsContainer {
  position: absolute;
  top: 15vh;
  left: 20vw;
  display: flex; }

.tag {
  display: inline-block;
  width: 20vw;
  height: 2vh;
  background-color: #394047;
  color: white;
  font-family: "Bitter", serif;
  font-size: 2.5vw;
  text-align: center;
  padding-top: 0.5vh;
  border-radius: 1vw;
  opacity: 0.7;
  margin-right: 1vw; }

.projectParagraph {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 3vw;
  color: white;
  width: 70vw;
  position: absolute;
  top: 20vh;
  left: 20vw;
  line-height: 3vh; }

.linkContainer {
  width: 30vw;
  height: 6vh;
  position: absolute;
  top: 32vh;
  left: 60vw;
  display: flex;
  justify-content: space-between; }

.linkTag {
  font-family: "Bitter", serif;
  color: #394047;
  font-size: 4vw;
  text-decoration: none;
  width: 20vw;
  margin-top: 1.5vh; }

.linkTag:hover {
  color: #DCC7A9; }

.linkImage {
  width: 10vw; }
  .linkImage img {
    width: 100%; }

.project-2 {
  height: 100vh;
  width: 100vw;
  margin-top: -10vh; }
  .project-2 .projectTitle {
    width: 70vw;
    font-family: "Abril Fatface", regular;
    font-size: 13vw;
    color: white;
    position: absolute;
    top: 41vh;
    left: 10vw;
    text-shadow: 0 3px 8px #394047; }

.projectShowcase {
  position: relative;
  height: 40vh;
  clear: both; }

.rectangle-2 {
  background-color: #DCC7A9;
  width: 90vw;
  height: 45vh;
  margin: 0 auto; }

.video-2 {
  width: 80vw;
  position: absolute;
  top: -10vh;
  left: 10vw; }
  .video-2 video {
    width: 100%; }

.tagsContainer2 {
  position: absolute;
  left: 30vw;
  top: 17vh; }

.projectParagraph2 {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 3vw;
  color: #394047;
  width: 70vw;
  position: absolute;
  top: 22vh;
  left: 15vw;
  line-height: 3vh; }

.linkContainer-2 {
  width: 30vw;
  height: 6vh;
  position: absolute;
  top: 35vh;
  left: 60vw;
  display: flex;
  justify-content: space-between; }

.linkTag-2 {
  font-family: "Bitter", serif;
  color: #394047;
  font-size: 4vw;
  text-decoration: none;
  width: 20vw;
  margin-top: 1.5vh; }

.linkTag-2:hover {
  color: #D0A233; }

.linkImage-2 {
  width: 10vw; }
  .linkImage-2 img {
    width: 100%; }

.project-3 {
  width: 100vw;
  height: 100vh;
  position: relative; }
  .project-3 .projectTitle {
    width: 100vw;
    font-family: "Abril Fatface", regular;
    font-size: 10vw;
    color: #D0A233;
    position: absolute;
    top: 42vh;
    left: 5vw;
    text-shadow: 0 3px 8px #394047; }
  .project-3 .linkContainer {
    width: 80vw;
    position: absolute;
    top: 33vh;
    left: 30vw; }
  .project-3 .linkTag {
    width: 65vw;
    margin-top: 1vh; }

.rectangle-3 {
  width: 85vw;
  height: 30vh;
  background-color: rgba(176, 188, 196, 0.6);
  position: absolute;
  top: 10vh; }

.workflow {
  width: 100vw;
  height: 120vh;
  margin-bottom: 10vh; }

.workflowSections {
  position: relative; }

.sectionTitle {
  width: 100%;
  text-align: center;
  margin: 5vh 0; }
  .sectionTitle .sectionImage {
    width: 8vw;
    text-align: center;
    animation-name: spinning;
    animation-duration: 6s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-timing-function: ease; }
@keyframes spinning {
  0% {
    transform: rotate(0deg); }
  60% {
    transform: rotate(360deg); }
  100% {
    transform: rotate(360deg); } }
  .sectionTitle h3 {
    color: white;
    font-family: "Abril Fatface", regular;
    font-size: 8vw;
    display: inline-block; }

.phaseTitle {
  font-family: "Abril Fatface", regular;
  font-weight: 700;
  letter-spacing: 0.09vw;
  color: white;
  font-size: 5vw; }

.phaseParagraph {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  color: #DCC7A9;
  font-size: 3.5vw;
  margin-top: 2vh;
  line-height: 3.5vh; }
  .phaseParagraph .bold {
    font-weight: 400;
    color: #D0A233; }

.row img {
  width: 100%; }

.number {
  text-shadow: -2vw -1vh rgba(208, 162, 51, 0.7); }
  .number img {
    width: 100%; }

.path {
  width: 3vw;
  margin: 0 auto; }

.about {
  width: 100vw;
  height: 100vh; }

.bioSection {
  height: 45vh; }

.bioImage {
  transform: translateX(-5vw);
  transition: transform 1s ease, opacity 1s ease; }
  .bioImage img {
    width: 100%;
    background: white;
    margin: 0 15px 15px;
    padding: 10px 10px 10px;
    text-align: center;
    text-decoration: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    transform: translateZ(80px) scale(1);
    transform-style: preserve-3d; }

.bioText {
  width: 90vw;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 3vw;
  color: white;
  line-height: 2.5vh; }
  .bioText p {
    margin-bottom: 1.5vh; }
  .bioText .emoji {
    font-size: 5vw;
    margin-left: 0.3vw; }

.bold {
  font-weight: bold;
  color: #DCC7A9; }

.highlight {
  color: #D0A233;
  font-weight: bold;
  font-size: 5vw;
  margin: 2vh 0;
  width: 90vw; }

.contactContainer {
  margin: 5vh auto; }

.contact {
  margin: 0 auto;
  padding-top: 3.5vh;
  width: 70vw; }

.contactMe {
  font-family: "Lato", sans-serif;
  font-size: 3vw;
  color: white;
  text-align: center;
  letter-spacing: 0.1vw; }
  .contactMe .highlight {
    text-transform: uppercase; }

.logos {
  display: flex;
  justify-content: space-around;
  width: 60vw;
  margin: 3vh auto; }

.animojiContainer {
  text-align: center; }
  .animojiContainer img {
    width: 110px; }

.logo-item {
  width: 5vw; }
  .logo-item img {
    width: 100%; }

.copyright {
  font-family: "Lato", sans-serif;
  font-size: 2vw;
  color: rgba(176, 188, 196, 0.6);
  text-align: center;
  margin-top: 5vh; }

/*# sourceMappingURL=main_mobile.css.map */
