body {
  background-color: #394047; }

a {
  text-decoration: none; }

.menuContainer {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  position: fixed;
  top: 50vh;
  right: 1vw;
  transform: translateY(-50%);
  z-index: 10000; }

.menu-item {
  position: relative;
  width: 12px;
  height: 12px;
  margin-bottom: 1vh;
  border: 1px solid white;
  border-radius: 100vw;
  cursor: pointer;
  text-align: right; }

.introLabel {
  opacity: 0; }
  .introLabel.visible {
    width: 5vw;
    position: absolute;
    right: 1vw;
    font-family: "Lato", sans-serif;
    color: #D0A233;
    margin-top: -0.5vh;
    opacity: 1;
    transition: opacity 0.2s ease; }

.scrollTarget {
  --currentSection: 0;
  margin-top: calc(-100vh * var(--currentSection));
  transition: margin-top 0.5s ease;
  overflow: hidden; }

.introduction {
  width: 100vw;
  height: 100vh;
  text-align: center;
  position: relative; }

.introductionTitle {
  position: absolute;
  top: 33vh;
  left: 32vw; }

.authorName {
  font-family: "Abril Fatface", regular;
  color: white;
  font-size: 5vw; }

.typewriter {
  overflow: hidden;
  border-right: 0.15rem solid transparent;
  padding-right: 4px;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.15rem;
  animation: typing 2.5s steps(30, end), blink-caret 1s step-end 3; }

@keyframes typing {
  from {
    width: 0; }
  to {
    width: 100%; } }
@keyframes blink-caret {
  from, to {
    border-color: transparent; }
  50% {
    border-color: white; } }
@keyframes professionAppear {
  from {
    opacity: 0;
    transform: translateY(200px); } }
.profession {
  font-family: "Abril Fatface", regular;
  color: #D0A233;
  font-size: 2.5vw;
  animation: professionAppear 1s ease; }

.backgroundImage {
  width: 100vw;
  height: 100vh;
  max-height: 100vh;
  position: relative;
  transform: translateZ(80px) scale(1);
  transform-style: preserve-3d; }

.bgIcon {
  width: 3vw;
  position: absolute; }
  .bgIcon img {
    width: 100%; }

@media (max-width: 400px) {
  .introduction {
    margin: 0; } }
.first {
  top: 85vh;
  left: 9vw; }

.second {
  top: 55vh;
  left: 8vw; }

.third {
  top: 72vh;
  left: 22vw; }

.fourth {
  top: 60vh;
  left: 30vw; }

.fifth {
  top: 77vh;
  left: 40vw; }

.sixth {
  top: 83vh;
  left: 50vw; }

.seventh {
  top: 63vh;
  left: 54vw; }

.eighth {
  top: 69vh;
  left: 66vw; }

.ninth {
  top: 83vh;
  left: 75vw; }

.tenth {
  top: 59vh;
  left: 81vw; }

.eleventh {
  top: 75vh;
  left: 88vw; }

.twelfth {
  top: 35vh;
  left: 12vw; }

.thirteenth {
  top: 6vh;
  left: 13vw; }

.fourteenth {
  top: 20vh;
  left: 19vw; }

.fifteenth {
  top: 12vh;
  left: 30vw; }

.sixteenth {
  top: 7vh;
  left: 40vw; }

.seventeenth {
  top: 15vh;
  left: 53vw; }

.eighteenth {
  top: 3vh;
  left: 57vw; }

.nineteenth {
  top: 20vh;
  left: 70vw; }

.twentyth {
  top: 37vh;
  left: 78vw; }

.twenty-first {
  top: 6vh;
  left: 81vw; }

.twenty-second {
  top: 23vh;
  left: 87vw; }

.scrollAction {
  width: 5vw;
  margin: 0 auto;
  position: absolute;
  bottom: 5vh;
  left: 48vw; }
  .scrollAction .scroll {
    text-transform: uppercase;
    font-family: "Bitter", serif;
    font-size: 1vw;
    display: inline-block;
    color: white; }
  .scrollAction .scrollImage {
    width: 1vw; }

.workflow {
  width: 100vw;
  height: 100vh; }

.workflowSections {
  transform: translateY(10vh);
  transition: transform 1s ease, opacity 1s ease;
  opacity: 0; }

.visible .workflowSections {
  transform: translateY(0);
  opacity: 1; }

.sectionTitle {
  width: 100%;
  text-align: center;
  margin-top: 4vh; }
  .sectionTitle .sectionImage {
    width: 5vw;
    text-align: center;
    animation-name: spinning;
    animation-duration: 6s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-timing-function: ease; }
@keyframes spinning {
  0% {
    transform: rotate(0deg); }
  60% {
    transform: rotate(360deg); }
  100% {
    transform: rotate(360deg); } }
  .sectionTitle h3 {
    color: white;
    font-family: "Abril Fatface", regular;
    font-size: 5vw;
    display: inline-block; }

.subtitle {
  font-family: "Lato", sans-serif;
  font-style: italic;
  color: #DCC7A9;
  margin: 3vh 0 9vh 0;
  text-align: center; }
  .subtitle h5 {
    font-size: 1.8vw; }

.phaseTitle {
  font-family: "Bitter", serif;
  font-weight: 700;
  letter-spacing: 0.09vw;
  color: white;
  font-size: 1.2vw;
  text-align: center; }

.phaseParagraph {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  color: #DCC7A9;
  font-size: 1vw;
  margin-top: 5vh;
  line-height: 2.7vh; }

.row img {
  width: 100%; }

@media (max-width: 400px) {
  .subtitle {
    margin: 0; }

  .phaseTitle {
    font-size: 2.5vw; }

  .phaseParagraph {
    margin-top: 2vh;
    font-size: 2vw; } }
.projects {
  max-height: 300vh; }

.sectionTitleProjects {
  width: 100%;
  text-align: center;
  padding-bottom: 20vh; }
  .sectionTitleProjects .sectionImage {
    width: 5vw;
    text-align: center;
    animation: rotate-scale-up-diag-1 6s ease infinite; }
@keyframes rotate-scale-up-diag-1 {
  0% {
    transform: scale(1) rotate3d(1, 1, 0, 0deg); }
  20% {
    transform: scale(1.5) rotate3d(1, 1, 0, -180deg); }
  40% {
    transform: scale(1) rotate3d(1, 1, 0, -360deg); }
  100% {
    transform: scale(1) rotate3d(1, 1, 0, -360deg); } }
  .sectionTitleProjects h3 {
    color: white;
    font-family: "Abril Fatface", regular;
    font-size: 5vw;
    display: inline-block;
    margin-top: 3vh; }

@media (max-width: 400px) {
  .projects {
    margin: 15vh; } }
.videoPlayer {
  width: 100vw;
  height: 30vh;
  object-fit: cover;
  overflow: hidden;
  transform: translateY(-10vh);
  transition: transform 1s ease; }

.visible .videoPlayer {
  transform: translateY(0); }

.project-1 {
  height: 100vh;
  width: 100vw;
  position: relative; }

.rectangle-1 {
  width: 90vw;
  height: 45vh;
  background-color: rgba(176, 188, 196, 0.6);
  position: absolute;
  top: -10vh; }

.video {
  width: 30vw;
  position: absolute;
  top: -15vh;
  left: 5vw; }
  .video video {
    width: 100%; }

.projectTitle {
  width: 50vw;
  font-family: "Abril Fatface", regular;
  font-size: 5vw;
  color: #D0A233;
  position: absolute;
  top: -18vh;
  left: 65vw;
  text-shadow: 0 3px 8px #394047;
  opacity: 0;
  transform: translateX(5vw);
  transition: transform 1s ease, opacity 1s ease; }

.visible .projectTitle {
  transform: translateX(0);
  opacity: 1; }

.tagsContainer {
  position: absolute;
  top: 0;
  left: 40vw; }

.tag {
  display: inline-block;
  width: 7vw;
  height: 3vh;
  background-color: #394047;
  color: white;
  font-family: "Bitter", serif;
  font-size: 0.9vw;
  text-align: center;
  padding-top: 0.5vh;
  border-radius: 0.3vw;
  opacity: 0.7;
  margin-right: 1vw; }

.projectParagraph {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 1vw;
  color: white;
  width: 40vw;
  position: absolute;
  top: 10vh;
  left: 40vw; }

.phases {
  margin-top: 5vh; }

.phaseTitle-project {
  font-family: "Bitter", serif;
  font-size: 2vw;
  color: #D0A233;
  text-align: center; }

.dot {
  color: #DCC7A9; }

@media (max-width: 400px) {
  .project-1 {
    max-width: 400px; }

  .rectangle-1 {
    display: none; }

  .imageProject {
    left: 0;
    width: 50vw; }

  .projectTitle {
    left: 7vw;
    top: -15vh; }

  .phases {
    display: none; } }
.project-2 {
  height: 100vh;
  width: 100vw; }
  .project-2 .projectTitle {
    font-family: "Abril Fatface", regular;
    font-size: 5vw;
    color: white;
    position: absolute;
    left: 20vw;
    top: -7vh;
    text-shadow: 0 3px 8px #394047; }

.projectShowcase {
  position: relative;
  height: 40vh;
  clear: both; }

.rectangle-2 {
  background-color: #DCC7A9;
  width: 90vw;
  height: 45vh;
  position: absolute;
  right: 0; }

.video-2 {
  width: 30vw;
  position: absolute;
  top: -10vh;
  right: 10vw; }
  .video-2 video {
    width: 100%; }

.tagsContainer2 {
  position: absolute;
  left: 38vw;
  top: 10vh; }

.projectParagraph2 {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 1vw;
  color: #394047;
  width: 40vw;
  position: absolute;
  left: 15vw;
  top: 20vh; }

.project-3 {
  width: 100vw;
  height: 100vh;
  position: relative; }
  .project-3 .projectTitle {
    width: 50vw;
    font-family: "Abril Fatface", regular;
    font-size: 5vw;
    color: #D0A233;
    position: absolute;
    top: -17vh;
    left: 45vw;
    text-shadow: 0 3px 8px #394047; }

.rectangle-3 {
  width: 85vw;
  height: 30vh;
  background-color: rgba(176, 188, 196, 0.6);
  position: absolute;
  top: 10vh; }

.about {
  width: 100vw;
  height: 100vh; }

.bioSection {
  height: 50vh; }
  .bioSection img {
    width: 100%; }

.bioImage {
  opacity: 0;
  transform: translateX(-5vw);
  transition: transform 1s ease, opacity 1s ease; }

.visible .bioImage {
  transform: translateX(0);
  opacity: 1; }

.bioText {
  width: 30vw;
  font-family: "Lato", sans-serif;
  font-size: 1vw;
  color: white;
  line-height: 3vh;
  opacity: 0;
  transform: translateX(5vw);
  transition: transform 1s ease, opacity 1s ease; }

.visible .bioText {
  transform: translateX(0);
  opacity: 1; }

.bold {
  font-weight: bold;
  color: #DCC7A9; }

.highlight {
  color: #D0A233;
  font-weight: bold;
  font-size: 1.3vw; }

.contactContainer {
  display: flex;
  width: 20vw;
  justify-content: space-around;
  margin: 0 auto; }

.contact {
  margin: 0 auto;
  padding-top: 3.5vh;
  width: 40vw; }

.contactMe {
  font-family: "Lato", sans-serif;
  font-size: 1vw;
  color: white;
  text-align: center; }
  .contactMe .highlight {
    text-transform: uppercase; }

.logos {
  display: flex;
  justify-content: space-around;
  width: 60vw;
  margin: 5vh auto; }

.animojiContainer img {
  width: 110px; }

.logo-item {
  width: 2vw; }
  .logo-item img {
    width: 100%; }

::-webkit-scrollbar {
  display: none; }

/*# sourceMappingURL=main.css.map */
