// COLORS
$brey: #394047
$mustard: #D0A233
$ivory: #DCC7A9
$lightgrey: rgba(176, 188, 196, 0.6)
$tagOpacity: 0.7

//FONTS
$abril: 'Abril Fatface', regular
$bitter: 'Bitter', serif
$lato: 'Lato', sans-serif

$sectionTitle: 5vw

//OTHERS

$videoSize: 30vw
$rectangleWidth: 90vw
$rectangleHeight: 45vh

body
  background-color: $brey


a
  text-decoration: none


  //MENU

.menuContainer
  display: flex
  justify-content: flex-end
  flex-direction: column
  position: fixed
  top: 50vh
  right: 1vw
  transform: translateY(-50%)
  z-index: 10000


.menu-item
  position: relative
  width: 12px
  height: 12px
  margin-bottom: 1vh
  border: 1px solid white
  border-radius: 100vw
  cursor: pointer
  text-align: right



.introLabel
  opacity: 0

  &.visible
    width: 5vw
    position: absolute
    right: 1vw
    font-family: $lato
    color: $mustard
    margin-top: -0.5vh
    opacity: 1
    transition: opacity .2s ease




//SCROLLTARGET

.scrollTarget
  --currentSection: 0
  margin-top: calc(-100vh * var(--currentSection))
  transition: margin-top 0.5s ease
  overflow: hidden

// INTRODUCTION

.introduction
  width: 100vw
  height: 100vh
  text-align: center
  //margin-bottom: 10vh
  position: relative

.introductionTitle
  position: absolute
  top: 33vh
  left: 32vw

.authorName
  font-family: $abril
  color: white
  font-size: 5vw

.typewriter
  overflow: hidden
  border-right: .15rem solid transparent
  padding-right: 4px
  white-space: nowrap
  margin: 0 auto
  letter-spacing: .15rem
  animation: typing 2.5s steps(30, end), blink-caret 1s step-end 3

@keyframes typing
  from
    width: 0
  to
    width: 100%

@keyframes blink-caret
  from, to
    border-color: transparent
  50%
    border-color: white



@keyframes professionAppear
  from
    opacity: 0
    transform: translateY(200px)

.profession
  font-family: $abril
  color: $mustard
  font-size: 2.5vw
  animation: professionAppear 1s ease

.backgroundImage
  width: 100vw
  height: 100vh
  max-height: 100vh
  position: relative
  transform: translateZ(80px) scale(1)
  transform-style: preserve-3d

.bgIcon
  width: 3vw
  position: absolute

  img
    width: 100%

@media (max-width: 400px)
  .introduction
    margin: 0

//ICONS POSITIONING

  //Bottom section

.first
  top: 85vh
  left: 9vw

.second
  top: 55vh
  left: 8vw

.third
  top: 72vh
  left: 22vw

.fourth
  top: 60vh
  left: 30vw

.fifth
  top: 77vh
  left: 40vw

.sixth
  top: 83vh
  left: 50vw

.seventh
  top: 63vh
  left: 54vw

.eighth
  top: 69vh
  left: 66vw

.ninth
  top: 83vh
  left: 75vw

.tenth
  top: 59vh
  left: 81vw

.eleventh
  top: 75vh
  left: 88vw

//upper section

.twelfth
  top: 35vh
  left: 12vw

.thirteenth
  top: 6vh
  left: 13vw

.fourteenth
  top: 20vh
  left: 19vw

.fifteenth
  top: 12vh
  left: 30vw

.sixteenth
  top: 7vh
  left: 40vw

.seventeenth
  top: 15vh
  left: 53vw

.eighteenth
  top: 3vh
  left: 57vw

.nineteenth
  top: 20vh
  left: 70vw

.twentyth
  top: 37vh
  left: 78vw

.twenty-first
  top: 6vh
  left: 81vw

.twenty-second
  top: 23vh
  left: 87vw

//SCROLL

.scrollAction
  width: 5vw
  margin: 0 auto
  position: absolute
  bottom: 5vh
  left: 48vw

  .scroll
    text-transform: uppercase
    font-family: $bitter
    font-size: 1vw
    display: inline-block
    color: white

  .scrollImage
    width: 1vw

// WORKFLOW

.workflow
  width: 100vw
  height: 100vh

.workflowSections
  transform: translateY(10vh)
  transition: transform 1s ease, opacity 1s ease
  opacity: 0

.visible .workflowSections
  transform: translateY(0)
  opacity: 1

.sectionTitle
  width: 100%
  text-align: center
  margin-top: 4vh

  .sectionImage
    width: 5vw
    text-align: center
    animation-name: spinning
    animation-duration: 6s
    animation-delay: 0s
    animation-iteration-count: infinite
    animation-timing-function: ease

  @keyframes spinning
    0%
      transform: rotate(0deg)
    60%
      transform: rotate(360deg)
    100%
      transform: rotate(360deg)


  h3
    color: white
    font-family: $abril
    font-size: $sectionTitle
    display: inline-block

.subtitle
  font-family: $lato
  font-style: italic
  color: $ivory
  margin: 3vh 0 9vh 0
  text-align: center

  h5
    font-size: 1.8vw

.phaseTitle
  font-family: $bitter
  font-weight: 700
  letter-spacing: 0.09vw
  color: white
  font-size: 1.2vw
  text-align: center

.phaseParagraph
  font-family: $lato
  font-weight: 300
  color: $ivory
  font-size: 1vw
  margin-top: 5vh
  line-height: 2.7vh

.row img
  width: 100%





@media (max-width: 400px)


  .subtitle
    margin: 0

  .phaseTitle
    font-size: 2.5vw

  .phaseParagraph
    margin-top: 2vh
    font-size: 2vw



// PROJECTS

.projects
  max-height: 300vh

.sectionTitleProjects
  width: 100%
  text-align: center
  padding-bottom: 20vh


  .sectionImage
    width: 5vw
    text-align: center
    animation: rotate-scale-up-diag-1 6s ease infinite



  @keyframes rotate-scale-up-diag-1
    0%
      transform: scale(1) rotate3d(1, 1, 0, 0deg)

    20%
      transform: scale(1.5) rotate3d(1, 1, 0, -180deg)


    40%
      transform: scale(1) rotate3d(1, 1, 0, -360deg)

    100%
      transform: scale(1) rotate3d(1, 1, 0, -360deg)



  h3
    color: white
    font-family: $abril
    font-size: $sectionTitle
    display: inline-block
    margin-top: 3vh


@media (max-width: 400px)
  .projects
    margin: 15vh


// VIDEO PLAYER

.videoPlayer
  width: 100vw
  height: 30vh
  object-fit: cover
  overflow: hidden
  transform: translateY(-10vh)
  transition: transform 1s ease


.visible .videoPlayer
  transform: translateY(0)




// PROJECT 1

.project-1
  height: 100vh
  width: 100vw
  position: relative



.rectangle-1
  width: $rectangleWidth
  height: $rectangleHeight
  background-color: $lightgrey
  position: absolute
  top: -10vh


.video
  width: $videoSize
  position: absolute
  top: -15vh
  left: 5vw

  video
    width: 100%

.projectTitle
  width: 50vw
  font-family: $abril
  font-size: 5vw
  color: $mustard
  position: absolute
  top: -18vh
  left: 65vw
  text-shadow: 0 3px 8px $brey
  opacity: 0
  transform: translateX(5vw)
  transition: transform 1s ease, opacity 1s ease

.visible .projectTitle
  transform: translateX(0)
  opacity: 1





.tagsContainer
  position: absolute
  top: 0
  left: 40vw

.tag
  display: inline-block
  width: 7vw
  height: 3vh
  background-color: $brey
  color: white
  font-family: $bitter
  font-size: 0.9vw
  text-align: center
  padding-top: 0.5vh
  border-radius: 0.3vw
  opacity: $tagOpacity
  margin-right: 1vw

.projectParagraph
  font-family: $lato
  font-weight: 300
  font-size: 1vw
  color: white
  width: 40vw
  position: absolute
  top: 10vh
  left: 40vw

.phases
  margin-top: 5vh



.phaseTitle-project
  font-family: $bitter
  font-size: 2vw
  color: $mustard
  text-align: center

.dot
  color: $ivory

@media (max-width: 400px)

  .project-1
    max-width: 400px

  .rectangle-1
    display: none

  .imageProject
    left: 0
    width: 50vw

  .projectTitle
    left: 7vw
    top: -15vh

  .phases
    display: none


//PROJECT 2

.project-2
  height: 100vh
  width: 100vw


  .projectTitle
    font-family: $abril
    font-size: 5vw
    color: white
    position: absolute
    left: 20vw
    top: -7vh
    text-shadow: 0 3px 8px $brey


.projectShowcase
  position: relative
  height: 40vh
  clear: both

.rectangle-2
  background-color: $ivory
  width: $rectangleWidth
  height: $rectangleHeight
  position: absolute
  right: 0

.video-2
  width: $videoSize
  position: absolute
  top: -10vh
  right: 10vw

  video
    width: 100%

.tagsContainer2
  position: absolute
  left: 38vw
  top: 10vh

.projectParagraph2
  font-family: $lato
  font-weight: 300
  font-size: 1vw
  color: $brey
  width: 40vw
  position: absolute
  left: 15vw
  top: 20vh

//PROJECT 3

.project-3
  width: 100vw
  height: 100vh
  position: relative

  .projectTitle
    width: 50vw
    font-family: $abril
    font-size: 5vw
    color: $mustard
    position: absolute
    top: - 17vh
    left: 45vw
    text-shadow: 0 3px 8px $brey


.rectangle-3
  width: 85vw
  height: 30vh
  background-color: $lightgrey
  position: absolute
  top: 10vh


// ABOUT

.about
  width: 100vw
  height: 100vh

.bioSection
  height: 50vh

  img
    width: 100%

.bioImage
  opacity: 0
  transform: translateX(-5vw)
  transition: transform 1s ease, opacity 1s ease

.visible .bioImage
  transform: translateX(0)
  opacity: 1

.bioText
  width: 30vw
  font-family: $lato
  font-size: 1vw
  color: white
  line-height: 3vh
  opacity: 0
  transform: translateX(5vw)
  transition: transform 1s ease, opacity 1s ease

.visible .bioText
  transform: translateX(0)
  opacity: 1


.bold
  font-weight: bold
  color: $ivory

.highlight
  color: $mustard
  font-weight: bold
  font-size: 1.3vw


  //CONTACTS

.contactContainer
  display: flex
  width: 20vw
  justify-content: space-around
  margin: 0 auto

.contact
  margin: 0 auto
  padding-top: 3.5vh
  width: 40vw


.contactMe
  font-family: $lato
  font-size: 1vw
  color: white
  text-align: center

  .highlight
    text-transform: uppercase


.logos
  display: flex
  justify-content: space-around
  width: 60vw
  margin: 5vh auto

.animojiContainer
 
  img
    width: 110px

.logo-item
  width: 2vw

  img
    width: 100%


// SCROLLBAR

::-webkit-scrollbar
  display: none

